{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<div class="container text-center"> 
	<h1 id="blogtitle" class="font-weight-bold text-center">Cat's Blog</hi>
	<h3 class="text-center mb-5">Cat has written {{ blogs.count }} blog{{ blogs.count|pluralize }}</h3>	
</div>


{% for blog in blogs %}
<div class="card text-center">
  <div class="card-header">
    
  </div>
  <div class="card-body">
      <h2>{{ blog.title }}</h2></h5>
    <p class="card-text"><h4>{{ blog.description|striptags|truncatechars:100 }}</h4></p>
    <a href="{% url 'blog:detail' blog.id %}" class="btn btn-primary">Read more</a>
  </div>
  <div class="card-footer text-muted">
    <h5 class="text-muted">{{ blog.date|date:'M d Y'|upper }}</h5>
  </div>
</div>
{% endfor %}

{% endblock %}
